/****** レビュー登録 CSS ******/
@import 'bootstrap-sprockets';
@import 'bootstrap';

/* HEADER SECTION */

header {
    position: relative;

}

.user_action {
    margin: 0 15px;
}

.user_action li {
    margin-left: 30px;
}

.maker_brand {
    padding-left: 20px;
}

.nav-makers li {
    padding-right: 10px;
}

/* BODY SECTION */

.review_form {
    padding-top: 3.75rem;
    margin: 0 3.75rem;
}

.category_section {
    margin-right: 25px;
    padding: 30px 15px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.category_section {
    margin-bottom: 10px; 
}

.category_section form {
    display: flex;
    flex-direction: row;
}
.category_section .tags-holder {
    /* display: block; */
    height: 300px;
}

.review_section {
    padding: 30px 15px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

/* FOOTER SECTION */

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
    text-align: center;
	/* font: bold 16px sans-serif; */
    color: #fff;
	padding: 20px 50px;
}

.footer-center>.footer-link {
    display: inline;
    margin-left: auto;
    margin-right: auto;

}

.footer-link a {
    padding: 0 30px;

    color: #fff;
}

.footer-center .footer-copyrighted {
    margin-top: 1rem;
    font-size: 70%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    margin-bottom: 50px;
}

.card-title {
  padding-left: 20px;
  letter-spacing: -1px;
  font-weight: normal;
  color: gray;
}
.card-img-top {
    height: 200px;
    align-items: center;
    border-radius: 5px 5px 0 0;
}
