<div class="container">
    <h1>商品</h1>
    <div class="row">
      
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <a href="#"><img class="card-img-top" src="https://www.lg.com/au/images/smartphones/md05878255/gallery/LG%20V30-large01.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title" style="text-align: center;">
              <a href="#">LG V30+ LGH930DS Aurora Black</a>
            </h4>
          </div>
          <hr>
          <div class="card-footer">
            <h5 class="card-title"><strong>LG V</strong></h5>
            <h5 class="card-title"><strong>LG</strong></h5>
            <br>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <a href="#"><img class="card-img-top" src="https://cdn1.vienthonga.vn/image/2017/3/4/100000_iphone-6-8.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title" style="text-align: center;">
              <a href="products/1">Iphone 6 32G</a>
            </h4>
          </div>
          <hr>
          <div class="card-footer">
            <h5 class="card-title"><strong>Iphone</strong></h5>
            <h5 class="card-title"><strong>Apple</strong></h5>
            <br>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <a href="#"><img class="card-img-top" src="https://www.t-mobile.com/content/dam/t-mobile/en-p/cell-phones/samsung/samsung-galaxy-s9/lilac-purple/Samsung-Galaxy-S9-Lilac-Purple-1-3x.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title" style="text-align: center;">
              <a href="#">Samsung Galaxy S9</a>
            </h4>
          </div>
          <hr>
          <div class="card-footer">
            <h5 class="card-title"><strong>Galaxy S</strong></h5>
            <h5 class="card-title"><strong>Samsung</strong></h5>
            <br>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <a href="#"><img class="card-img-top" src="https://static.digit.in/product/c9685a25b85110a756e4f9a87878543f6f8959fe.jpeg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title" style="text-align: center;">
              <a href="#">Xiaomi Mi 5</a>
            </h4>
          </div>
          <hr>
          <div class="card-footer">
            <h5 class="card-title"><strong>Mi</strong></h5>
            <h5 class="card-title"><strong>Xiaomi</strong></h5>
            <br>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <a href="#"><img class="card-img-top" src="https://i.gadgets360cdn.com/products/large/1526892165_635_Samsung_Galaxy_J6.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title" style="text-align: center;">
              <a href="#">Samsung Galaxy J6</a>
            </h4>
          </div>
          <hr>
          <div class="card-footer">
            <h5 class="card-title"><strong>Galaxy J</strong></h5>
            <h5 class="card-title"><strong>LG</strong></h5>
            <br>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <a href="#"><img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/41BDGJgj3uL.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title" style="text-align: center;">
              <a href="#">Samsung Galaxy Note 8</a>
            </h4>
          </div>
          <hr>
          <div class="card-footer">
            <h5 class="card-title"><strong>Galaxy note</strong></h5>
            <h5 class="card-title"><strong>Samsung</strong></h5>
            <br>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <a href="#"><img class="card-img-top" src="https://www.lg.com/au/images/smartphones/md05878255/gallery/LG%20V30-large01.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title" style="text-align: center;">
              <a href="#">LG V30+ LGH930DS Aurora Black</a>
            </h4>
          </div>
          <hr>
          <div class="card-footer">
            <h5 class="card-title"><strong>category</strong></h5>
            <h5 class="card-title"><strong>LG</strong></h5>
            <br>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <a href="#"><img class="card-img-top" src="https://www.lg.com/au/images/smartphones/md05878255/gallery/LG%20V30-large01.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title" style="text-align: center;">
              <a href="#">LG V30+ LGH930DS Aurora Black</a>
            </h4>
          </div>
          <hr>
          <div class="card-footer">
            <h5 class="card-title"><strong>category</strong></h5>
            <h5 class="card-title"><strong>LG</strong></h5>
            <br>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <a href="#"><img class="card-img-top" src="https://www.lg.com/au/images/smartphones/md05878255/gallery/LG%20V30-large01.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title" style="text-align: center;">
              <a href="#">LG V30+ LGH930DS Aurora Black</a>
            </h4>
          </div>
          <hr>
          <div class="card-footer">
            <h5 class="card-title"><strong>category</strong></h5>
            <h5 class="card-title"><strong>LG</strong></h5>
            <br>
          </div>
        </div>
      </div>
      
      <%= paginate @products, theme: "twitter-bootstrap-4" %>
  </div>
</div>
