<div class="container">
  <h1>Iphone 6 32G</h1>
  
  <img class="card-img-top" src="https://cdn1.vienthonga.vn/image/2017/3/4/100000_iphone-6-8.jpg" alt="">
  
  <h4>カテゴリー: Iphone</h4>
  <h4>メーカー: Apple</h4>
  
  <hr>
  
  <h1>この商品のレビュー</h1>
</div>
