<div class="container">
  <h1>レビュー</h1>
  <div class="row" style="text-align: right;">
    <p>並び替え: <%= link_to "日付け", reviews_path %> | <%= link_to "トップコメント",  reviews_path(field: :top_cmt) %></p>
    
    <%= paginate @reviews, theme: "twitter-bootstrap-4" %>
    
  </div>
    <div class="review_card">
        <%= render @reviews %>
    </div>
</div>
