<footer class="footer-distributed">

        <div class="column footer-center ">
            <p>TECH REVIEW</p>
            <div class="footer-link row">
                <a href="#">ABOUT</a>
                <a href="#">INFO</a>
                <a href="#">HELP</a>
                

            </div>
        <p class=footer-copyrighted>Copyright © 2018 サーチナ All rights reserved.</p>
</footer>