<header>
        <!-- MODAL SIGN IN -->

        <div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Sign In</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="title">Username</label>
                            <input type="text" class="form-control" id="title">
                        </div>
                        <div class="form-group">
                            <label for="title">Password</label>
                            <input type="text" class="form-control" id="title">
                        </div>
                        <div style="text-align: center">
                                <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#signUpModal" style="margin:auto;">新しいユーザー？ サインアップ</a>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" style="margin:auto">Sign In</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- MODAL SIGN UP -->

        <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Sign Up</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="title">Username</label>
                            <input type="text" class="form-control" id="title">
                        </div>
                        <div class="form-group">
                                <label for="title">Email</label>
                                <input type="text" class="form-control" id="title">
                            </div>
                        <div class="form-group">
                            <label for="title">Password</label>
                            <input type="text" class="form-control" id="title">
                        </div>
                        <div class="form-group">
                            <label for="title">Nhap lai Password</label>
                            <input type="text" class="form-control" id="title">
                        </div>
                        <div style="text-align: center">
                            <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#signInModal" style="margin:auto;">アカウントがある？ サインイン</a>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" style="margin:auto">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- HEADER -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <a class="navbar-brand" href="#" style="padding: 0">
                <img src="./assets/doge.png" alt="logo" style="width: 70px">
            </a>
            <!-- <p style="font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; ">しば犬</p> -->

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

            <div class="navbar-nav maker_brand">
                <a class="nav-item nav-link " href="#"><img src="./assets/apple.png" style="width: 40px"></a>
                <a class="nav-item nav-link" href="#"><img src="./assets/samsung-logo.png" style="width: 60px"></a>
                <a class="nav-item nav-link" href="#"><img src="./assets/oppo-logo.png" style="width: 60px"></a>
                <a class="nav-item nav-link " href="#"><img src="./assets/sony.png" style="width: 60px"></a>
                <a class="nav-item nav-link " href="#"><img src="./assets/htc-logo.png" style="width: 60px"></a>
            </div>

            <ul class="nav navbar-nav ml-auto user_action">
                <li><button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#signInModal">Sign
                        In</button></li>
                <li><button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#signUpModal">Sign Up</button></li>
            </ul>
        </nav>
        <img src="./assets/banner.jpg" alt="" style="width: 100%">
    </header>